{% extends "layout.html" %}
{% block content %}

<div style="text-align:center">
    <img width=300 height=100 vspace=60 src={{ url_for( 'static', filename='css/images/cupid.png' )}}/>
</div>

<div class="container">
    <div class="row">
		{% if not profiled %}
		<div class="col-xs-12" style="text-align:center">
			<h1>気になるあの人との相性をこっそり確かめよう！</h1>
			<p class="col-xs-12">
			あなたと相手の Twitter ID を入力して「診断」ボタンを押せば、人工知能が二人のツイートを解析して相性を算出します！
			</p>
		</div>
		{% endif %}
		<span>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            エラー: {{ error_message }}
        </div>
        {% endif %}
        <!--
        <div style="display:-webkit-flex;display:flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center">
			-->
        <form action="/post" method="post">
			<div {% if not profiled %} style="margin:200px 0 30px 0" {% endif %}>
				<div class="col-xs-5">
					<div class="input-group">
						<span class="input-group-addon input-lg">@</span>
						<input type="text" class="form-control input-lg" id="name" name="id_man" placeholder="男性の TwitterID" {% if user_id_man %} value={{user_id_man}} {% endif%}/>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-rounded col-xs-2 btn-lg"  name="btn">
					診断
				</button>
				<div class = "col-xs-5">
					<div class="input-group">
						<span class="input-group-addon input-lg">@</span>
						<input type = "text" class = "form-control input-lg" id  = "name" name = "id_woman" placeholder = "女性の TwitterID" {% if user_id_woman %} value={{user_id_woman}} {% endif%}/>
					</div>
				</div>
			</div>
		</form>
	</div>

		<!--
		</div>
		-->
			{% if profiled %}
			<h1 style="text-align:center">{{ comment }}</h1>
			<div style="text-align:center">
				<img src=
				{% if compatible_level|int() == 2 %}
					{{ url_for('static', filename='css/images/pink_heart.png') }}
				{% elif compatible_level|int() == 1 %}
					{{ url_for('static', filename='css/images/yellow_heart.png') }}
				{% else %}
					{{ url_for('static', filename='css/images/gray_heart.png') }}
				{% endif %}
				width="600px" height="500px">
				<p class="text-center col-xs-12" style="font-size:800%; font-weight:bold; color:white; position:relative; bottom:350px; color">
						{{ compatibility }}
				</p>
			</div>
			{% endif %}

			{% if profiled %}
			<div class = "row" style="position:relative; bottom:100px">
				<div class = "col-xs-12">
					<table class = "table">
						<thead>
							<tr>
								<th>
									<div class="text-center">
									<a href="{{ ''.join(['https://twitter.com/', user_id_man])}}" target="_blank">
									<h2 style="font-weight:bold">@{{ user_id_man }}</h2>
									</a>
									</div>
								</th>
								<th>
									<h1 class="text-center"><span class="label label-default" style="">
									個性
									</span></h1>
								</th>
								<th>
									<div class="text-center">
									<a href="{{ ''.join(['https://twitter.com/', user_id_woman])}}" target="_blank">
									<h2 style="font-weight:bold">@{{ user_id_woman }}</h2>
									</a>
									</div>
								</th>
							</tr>
						</thead>
						<tbody>
							{% for  p in personality%}
								<tr>
									<td class="col-xs-4">
										<div class="text-center">
											<h3>{{ p.man }}</h3>
										</div>
									</td>
									<th class="col-xs-4">
										<div class="text-center">
											<h3 {% if tooltip %} data-toggle="tooltip" data-placement="top" title={{ tooltip[p.name] }} {% endif %}>
												{{ p.name }}</h3>
										</div>
									</th>
									<td class="col-xs-4">
										<div class="text-center">
											<h3>{{ p.woman }}</h3>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class = "col-xs-12">
					<table class = "table">
						<thead>
							<th></th>
							<th>
								<h1 class="text-center"><span class="label label-default" style="">
									価値
								</span></h1>
							</th>
							<th></th>
						</thead>
						<tbody>
							{% for i in range(values_man|length) %}
								<tr>
									<td class="col-xs-4">
										<div class="text-center">
											<h3 {% if tooltip %} data-toggle="tooltip" data-placement="top" title={{ tooltip[values_man[i][0]] }} {% endif %}>
												{{ values_man[i][0] }}</h3>
											<p>{{ values_man[i][1] }}</p>
										</div>
									</td>
									<td class="col-xs-4">
										<div class="text-center">
											<h3 style="font-weight:bold">{{i + 1}}位</h3>
										</div>
									</td>
									<td class="col-xs-4">
										<div class="text-center">
											<h3 {% if tooltip %} data-toggle="tooltip" data-placement="top" title={{ tooltip[values_woman[i][0]] }} {% endif %}>
												{{ values_woman[i][0] }}</h3>
											<p>{{ values_woman[i][1] }}</p>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1>各項目の説明</h1>
				</div>
				<div class="panel-body">
					<div class="col-md-6">
					<h3 class="text-center" style="font-weight:bold">個性</h3>
						<p class="text-center">その人の性格を表す５大要素</p>
						<dl class="dl-horizontal">
							<dt>知的好奇心</dt>
								<dd>落ち着きがあり，美に敏感で新しいことを試そうとするタイプ</dd>
							<dt>誠実性</dt>
								<dd>自己統制をし、誠実、あるいは外部の期待や評価に応えようとするタイプ</dd>
							<dt>外向性</dt>
								<dd>よりエネルギッシュで，社交的なタイプ</dd>
							<dt>協調性</dt>
								<dd>他人とうまくやっていくことを重要視するタイプ</dd>
							<dt>感情起伏</dt>
								<dd>感情の幅に大きな動きがあるタイプ</dd>
						</dl>
					</div>
					<div class="col-md-6">
						<h3 class="text-center" style="font-weight:bold">価値</h3>
						<p class="text-center">意思決定を行う時に影響を及ぼす動機付けとなる要因</p>
						<dl class="dl-horizontal">
							<dt>自己増進</dt>
								<dd>社会的な基準に基づく個人的な成功</dd>
							<dt>自己超越</dt>
								<dd>身の回りの人をより幸せにしようとする</dd>
							<dt>現状維持</dt>
								<dd>伝統を重んじる保守的な姿勢</dd>
							<dt>変化許容性</dt>
								<dd>日常生活において興奮や新規性を追い求める</dd>
							<dt>快楽主義</dt>
								<dd>自分自身の幸福や満足感</dd>
						</dl>
					</div>
				</div>
			</div>
			{% endif %}

		</div>
	</div>
	</body>
</html>

{% endblock %}
