{% extends "layout.html" %} {% block content %}

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>
	<h1>Cupid</h1>
	<div class = "form" style = "margin:10em">
		<div class = "container">
			<div class = "row">
				<div class = "col-md-12">
					<div>
						<form action = "" method = "post" class = "form-inline">
							<label for = "acount">＠</label>
							<input type = "text" class = "form-control" id  = "name" placeholder = "example"/>
						</form>
					</div>
					<div>
					 <button type = "submit" class = "btn btn-default" style = "border:none"><img src = "/Users/ito_ryoya/Downloads/ハート.png"/> 
					
					<!--	<button type = "image" src = "/Users/ito_ryoya/Downloads/ハート.png"/>
					-->
					</div>
					<div>
						<form action = "" method = "post" class = "form-inline"/>
							<label for = "acount">＠</label>
							<input type = "text" class = "form-control" id  = "name" placeholder = "example"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>	

{% endblock %}