<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script>
			function cntBtn(){	
				document.btn.elements[0].disabled=true;
			}
		</script>
	</head>
	<body style = "background:linear-gradient(90deg,blue 0%,blue 50%,red 50%,red 100%)">
	<h1>Cupid</h1>
	<div class = "form" style = "margin:10em" >
		<div class = "container">
			<div class = "row">
				<div class = "col-xs-12">
					<div style = "display:-webkit-flex;display:flex; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center">
						<form action = "/post" method = "post" class = "form-inline">
							<div class = "col-xs-4">
								<h2>♂</h2>
								<label for = "acount">＠</label>
								<input type = "text" class = "form-control" id  = "name"  name = "id_man" placeholder = "example"/>
							</div>
							<div class = "col-xs-4">
								<button type = "submit" class = "btn btn-default" name = "btn" style = "border:none;margin:auto;size:80%" onclick="cntBtn"> <img src = "heart.png"/> 
							</div>
							<div class = "col-xs-4">
								<h2>♀</h2>
										<label for = "acount">＠</label>
										<input type = "text" class = "form-control" id  = "name" name = "id_woman" placeholder = "example"/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>	